/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pinyon-script-regular - latin */
@font-face {
  font-family: "Pinyon Script";
  font-style: normal;
  font-weight: 400;
  src: local("Pinyon Script"), local("PinyonScript"),
    url("../fonts/pinyon-script-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pinyon-script-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"),
    url("../fonts/libre-baskerville-v7-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/libre-baskerville-v7-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --decoration-color: rgb(254, 209, 54);
  --main-font-color: rgb(34, 34, 34);
  --minor-font-color: rgb(119, 119, 119);
  --input-font-color: rgb(187, 187, 187);
  --main-font-family: "Montserrat", sans-serif;
  --minor-font-family: "Roboto Slab", sans-serif;
  --logo-font-family: "Pinyon Script", cursive;
  --title-descr-font-family: "Libre Baskerville", cursive;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* header-style */
.page-header {
  padding: 50px 0;
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.site-logo {
  font-family: var(--logo-font-family);
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: 1.3px;
}

.logo-link {
  color: var(--decoration-color);
}
.page-menu-list {
  display: flex;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  font-size: 1rem;
  font-weight: 700;
}

.menu-list-items:not(:last-child) {
  margin-right: 40px;
}
.menu-items-link {
  color: var(--main-font-color);
  padding: 10px 0;
}

.menu-items-link:hover {
  color: var(--decoration-color);
}

/* services-style */
.services {
  padding: 100px 0 50px;
}

.sections-header {
  text-align: center;
  margin-bottom: 78px;
}

.section-title {
  font-family: var(--main-font-family);
  font-size: 2.86rem;
  text-transform: uppercase;
  color: var(--main-font-color);
  line-height: 1.2;
  margin-bottom: 18px;
  letter-spacing: -1px;
}

.services-about {
  font-family: var(--title-descr-font-family);
  font-size: 1.14rem;
  color: var(--minor-font-color);
  line-height: 1.2;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-list-items {
  width: 290px;
  text-align: center;
  margin-bottom: 20px;
}

.services-items-title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--main-font-color);
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: -0.45px;
}

.services-items-about {
  font-family: var(--minor-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--minor-font-color);
  letter-spacing: -0.35px;
}

.services-list-items::before {
  display: block;
  content: "";
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 72px;
  height: 72px;
  margin: 0 auto 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.commerce-img::before {
  background-image: url("../img/Icon-Basket.png");
}
.responsive-img::before {
  background-image: url("../img/Icon-Laptop.png");
}
.security-img::before {
  background-image: url("../img/Icon-Locked.png");
}

/* contact-us-style */
.contact-us {
  padding-top: 50px;
  background-color: rgb(34, 34, 34);
  background-image: url("../img/images/Map-Image.png");
  background-repeat: no-repeat;
  background-position: right 70px;
}

.contact-us-title {
  color: rgb(255, 255, 255);
}

.contact-us-form {
  padding-bottom: 115px;
}

.contact-us-form-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.contact-us-input-list {
  display: flex;
  width: 455px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-us-input-list-items:not(:last-child) {
  margin-bottom: 28px;
}

.contact-us-form-input {
  width: 455px;
  height: 52px;
  font-size: 1rem;
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  border: 1px solid var(--input-font-color);
  padding-left: 20px;
  letter-spacing: -0.35px;
}

.contact-us-form-input::placeholder {
  text-transform: uppercase;
  color: var(--input-font-color);
}

.contact-us-form-input:required:focus {
  outline: none;
}
.contact-us-form-input:required:focus:valid {
  border: 3px solid rgba(133, 180, 45, 0.7);
}

.contact-us-form-input:required:focus:invalid {
  border: 3px solid rgba(180, 45, 44, 0.7);
}

.contact-us-form-message {
  width: 455px;
  font-size: 1rem;
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  border: 1px solid var(--input-font-color);
  padding: 20px 20px 0 20px;
  resize: none;
  letter-spacing: -0.35px;
}

.contact-us-form-message::placeholder {
  text-transform: uppercase;
  color: var(--input-font-color);
}

.contact-us-form-message:required:focus {
  outline: none;
}

.contact-us-form-message:required:focus:valid {
  border: 3px solid rgba(133, 180, 45, 0.7);
}

.contact-us-form-message:required:focus:invalid {
  border: 3px solid rgba(180, 45, 44, 0.7);
}

.contact-us-form-button {
  display: block;
  font-family: var(--main-font-family);
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: var(--decoration-color);
  width: 240px;
  height: 66px;
  margin: 0 auto;
  cursor: pointer;
}
.contact-us-form-button:hover {
  font-size: 1.5rem;
}
